.item-menu.active{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:white;
}
.slidebar.active{
    width:80px;
    transition: all 0.5s ease-in-out;
}
.list-items-menu.active .item-menu{
    width: 90%;
    transition: all 0.25s ease-in-out;
}
.list-items-menu.active .title{
    display:none;
    transition: all 0.4s ease-in-out;
}
.slidebar {
    -moz-animation: bigcircle 0.7s ease-in-out linear;
    -o-animation: bigcircle 0.7s ease-in-out linear;
    -webkit-animation: bigcircle 0.7s ease-in-out linear;
    animation: bigcircle 1.6s ease-in-out linear;
}
.item-menu.active{
    background-color:white;
}
@keyframes bigcircle{
    from{
        transform: translate(0,50%);

    }
    to{
        tranform:translate(50%,100%);
    }
}